---
layout: page
permalink: /categories/
title: Categories
---

{% for category in site.categories %}
  <div class="category-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
      <h2 class="category-head">
        <a class="no-underline" name="{{ category_name | slugify }}">
          {{ category_name }}
        </a>
      </h2>
    <div class="category-posts">
      {% for post in site.categories[category_name] %}
        <ul class="post-list post-list-small">
          {%- for post in site.posts -%}
            <li>
              <h3 class="no-margin">
                <a class="post-link-small" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
                <div class="small">
                  {%- include post-meta.html -%}
                </div>
              </h3>
              {%- if site.show_excerpts -%}
                <div class="post-excerpt" onclick="window.location.href='{{ post.url | relative_url }}';">
                  {{ post.excerpt }}
                </div>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endfor -%}
    </div>
  </div>
{% endfor %}
