<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">
      <a href="{{ "/" | relative_url }}">
        {{ site.title | escape }}
      </a>
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="social-link" href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}">
          <div class="svg-icon svg-social">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M0 0h24v24H0z" stroke="none"/>
              <path d="M4 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zM8 11v5M8 8v.01M12 16v-5"/><path d="M16 16v-3a2 2 0 0 0-4 0"/>
            </svg>
          </div>
          LinkedIn
        </a>
        <a class="social-link" href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
          <div class="svg-icon svg-social">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M0 0h24v24H0z" stroke="none"/>
              <path d="M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2 2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2 4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6-.6.6-.6 1.2-.5 2V21"/>
            </svg>
          </div>
          GitHub
        </a>
        <a class="social-link" href="https://www.twitter.com/{{ site.twitter_username | cgi_escape | escape }}">
          <div class="svg-icon svg-social">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M0 0h24v24H0z" stroke="none"/>
              <path d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497-3.753c0-.249 1.51-2.772 1.818-4.013z"/>
            </svg>
          </div>
          &#120143;
        </a>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="legal-list">
          <li><a href="{{ "/imprint/" | relative_url }}">Imprint</a></li>
          <li><a href="{{ "/privacy/" | relative_url }}">Privacy</a></li>
          <li><a href="{{ "/terms/" | relative_url }}">Terms</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
          Subscribe via
          <a href="{{ "/feed.xml" | relative_url }}">
            <div class="svg-icon svg-rss">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none"/>
                <path d="M4 19a1 1 0 1 0 2 0 1 1 0 1 0-2 0M4 4a16 16 0 0 1 16 16M4 11a9 9 0 0 1 9 9"/>
              </svg>
            </div>
            RSS
          </a>
      </div>
    </div>
  </div>
</footer>
