{% if post %}
  {% assign post_content = post.content %}
{% else %}
  {% assign post_content = page.content %}
{% endif %}
{%- if post -%}
  {%- assign tags = post.tags -%}
{%- else -%}
  {%- assign tags = page.tags -%}
{%- endif -%}

<ul class="post-meta">
  <li>{%- include post-date.html -%}</li>
  <li>{{ post_content | reading_time }}</li>
  {% if tags.size > 0 %}
    <li>
      {%- for tag in tags -%}
        <a href="{{ site.baseurl }}/#{{ tag }}"><span class="tag">{{ tag }}</span></a>
        {%- if forloop.last -%}{%- else -%}&nbsp;{%- endif -%}
      {%- endfor -%}
    </li>
  {% endif %}
</ul>
