{%- if post -%}
  {%- assign post_content = post.content -%}
  {%- assign post_date = post.date -%}
  {%- assign tags = post.tags -%}
{%- else -%}
  {%- assign post_content = page.content -%}
  {%- assign post_date = page.date -%}
  {%- assign tags = page.tags -%}
{%- endif -%}
{%- assign date_format = "%b %-d, %Y" -%}

<ul class="post-meta">
  <li><time class="date-published" datetime="{{ post_date | date_to_xmlschema }}" itemprop="datePublished" data-tooltip="{{- post_date | date: date_format -}}">{{- post_date | date: date_format -}}</time></li>
  <li><span data-tooltip="{{ post_content | count_words }}">{{ post_content | reading_time }}</span></li>
  {% if tags.size > 0 %}
    <li>
      {%- for tag in tags -%}
        <span class="tag"><a href="/blog/#{{ tag }}" data-tooltip="Posts about {{ tag }}">#{{ tag }}</a></span>
        {%- if forloop.last -%}{%- else -%}&nbsp;{%- endif -%}
      {%- endfor -%}
    </li>
  {% endif %}
</ul>
