<div class="syncwave">
  <div style="background-color: white; margin-top:0px;height:23px"></div>
  <div style="background-color: white; margin-top:1px;height:22px"></div>
  <div style="background-color: white; margin-top:2px;height:21px"></div>
  <div style="background-color: white; margin-top:3px;height:20px"></div>
  <div style="background-color: white; margin-top:4px;height:19px"></div>
  <div style="background-color: white; margin-top:5px;height:18px"></div>
  <div style="background-color: white; margin-top:6px;height:17px"></div>
  <div style="background-color: white; margin-top:7px;height:16px"></div>
  <div style="background-color: white; margin-top:8px;height:15px"></div>
  <div style="background-color: white; margin-top:9px;height:14px"></div>
  <div style="background-color: white; margin-top:10px;height:13px"></div>
  <div style="background-color: white; margin-top:11px;height:12px"></div>
  <div style="background-color: white; margin-top:12px;height:11px"></div>
  <div style="background-color: white; margin-top:13px;height:10px"></div>
  <div style="background-color: white; margin-top:14px;height:9px"></div>
  <div style="background-color: white; margin-top:15px;height:8px"></div>
  <div style="background-color: white; margin-top:16px;height:7px"></div>
  <div style="background-color: white; margin-top:17px;height:6px"></div>
  <div style="background-color: white; margin-top:18px;height:5px"></div>
  <div style="background-color: white; margin-top:19px;height:4px"></div>
  <div style="background-color: white; margin-top:20px;height:3px"></div>
  <div style="background-color: white; margin-top:21px;height:2px"></div>
  <div style="background-color: white; margin-top:22px;height:1px"></div>
  <div style="background-color: white; margin-top:23px;height:0px"></div>
</div>
