/**
 * Site header
 */
.site-header {
  font-family: $headline-font-family;
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-family: $title-font-family;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  font-family: $headline-font-family;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
  a {
    color: $grey-color;
  }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(33.33% - (#{$spacing-unit} / 2));
  width:         calc(33.33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(33.33% - (#{$spacing-unit} / 2));
  width:         calc(33.33% - (#{$spacing-unit} / 2));
  text-align: center;
}

.footer-col-3 {
  width: -webkit-calc(33.33% - (#{$spacing-unit} / 2));
  width:         calc(33.33% - (#{$spacing-unit} / 2));
  text-align: right;
}

@include media-query($on-laptop) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .footer-col-2 {
    text-align: left;
  }
  .footer-col-3 {
    text-align: left;
  }
}

footer {
  ul {
    list-style: none;
    margin-left: 0;
    li {
      display: inline-block;
    }
  }
  ul.legal-list {
    li + li {
      padding-left: 0.5em;
    }
  }
  a.social-link + a.social-link {
    padding-left: 0.5em;
  }
}

.svg-icon {
  display: inline-block;
  a:hover {
    text-decoration: none;
  }
}

.svg-social {
  width: 18px;
  height: 18px;
  vertical-align: -3px;
}

.svg-rss {
  width: 16px;
  height: 16px;
  vertical-align: -2px;
}



/**
 * Article
 */
article p {
  text-align: justify;
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}



/**
 * Posts
 */
.page-header, .post-header {
  margin-bottom: $spacing-unit;
}

.page-title, .post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  p {
    color: $grey-color-dark;
    height: $excerpt-height;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden; /* prevents extra lines from being visible */
  }

  .post-excerpt {
    cursor: pointer;
    position: relative;
    height: $excerpt-height;
    overflow: hidden;
  }

  .post-excerpt::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 100%);
    pointer-events: auto; /* Disallow interaction with the text underneath */
  }
}

ul.post-meta {
  color: $grey-color;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  a {
    color: $grey-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    display: inline;
    overflow-wrap: break-word;
  }
  li:not(:last-child)::after {
    content: '·';
    margin-left: 5px;
  }
  .tag {
    white-space: nowrap;
  }
  .tag + .tag {
    padding-left: 0.2em;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.footnotes {
  font-size: $small-font-size;
  margin-top: 2em;
  p {
    margin-bottom: 0.5em;
  }
}

.code-container {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px;
  z-index: 10; /* Ensure the button is above all other elements */
  fill: $grey-color;
  & :hover {
    fill: #000;
  }
}


/**
 * Tooltips
 */
 .tooltip {
  font-family: $headline-font-family;
  position: absolute;
  padding: 8px 12px;
  background: $grey-color; /* Tooltip background color */
  color: white; /* Tooltip text color */
  border-radius: 4px;
  font-size: 14px;
  display: none;
  z-index: 1000;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  opacity: 0;
  transform: translateY(10px) scale(0.5); /* Adjust vertical position and scale for animation */
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  box-sizing: border-box;
}

.tooltip.is-active {
  display: block;
  opacity: 1;
  transform: translateY(0px) scale(1);
}

/* Tooltip's upward-pointing tip */
.tooltip::after {
  content: '';
  position: absolute;
  top: -20px; /* Half of the height of the tip to make it appear just above the bottom of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent $grey-color transparent;
  transition: opacity 250ms ease-in-out;
  box-sizing: border-box;
}



/**
 * Utilities
 */
.small {
  font-size: $small-font-size;
}
